// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.function-list {
  width: 200px;
}

.function-list-element {
   list-style-type: none;
   margin-left: -30px;
   margin-top: 10px;
}
